.gradle
**/build/
!**/src/**/build/

# Gradle GUI config
gradle-app.setting

# Gradle wrapper
!gradle-wrapper.jar
!gradle-wrapper.properties

# Gradle cache
.gradletasknamecache

# Eclipse
.project
.classpath

# Environment
.env
.env.*
!.env.example
!.env.*.example

# Secrets
secrets/
**/src/test/resources/privateKey.pem
**/src/test/resources/publicKey.pem

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# OS
.DS_Store
Thumbs.db