# =========================
# API
# =========================
API_HOST=0.0.0.0
API_PORT=4000


# =========================
# CORS
# =========================
CORS_ENABLED=true
CORS_ORIGINS=http://localhost:5173
CORS_METHODS=GET,POST,PUT,PATCH,DELETE,OPTIONS
CORS_HEADERS=Authorization,Content-Type
CORS_ACCESS_CONTROL_MAX_AGE=24H


# =========================
# Database
# =========================
DB_KIND=postgresql
DB_HOST=localhost
DB_PORT=5432
DB_NAME=thehunter_rebirth
DB_USER=thehunter_rebirth
DB_PASSWORD=thehunter_rebirth


# =========================
# Hibernate
# =========================
HIBERNATE_DATABASE_GENERATION=validate
HIBERNATE_SQL_LOAD_SCRIPT=no-file

HIBERNATE_LOG_SQL=true
HIBERNATE_SQL_LOG_LEVEL=DEBUG
HIBERNATE_SCHEMA_LOG_LEVEL=DEBUG
HIBERNATE_SQL_EXEC_LOG_LEVEL=DEBUG


# =========================
# Flyway
# =========================
FLYWAY_MIGRATE_AT_START=true
FLYWAY_CLEAN_DISABLED=true


# =========================
# JWT
# =========================
JWT_ISSUER=thehunter-classic-rebirth
JWT_PUBLIC_KEY_LOCATION=file:secrets/publicKey.pem
JWT_PRIVATE_KEY_LOCATION=file:secrets/privateKey.pem


# =========================
# Launcher Authentication
# =========================
LAUNCHER_ACCESS_TOKEN_DURATION=PT15M
LAUNCHER_REFRESH_TOKEN_DURATION=P30D


# =========================
# Email verification
# =========================
EMAIL_VERIFICATION_CODE_DURATION=PT15M


# =========================
# Mailer
# =========================
MAIL_FROM=
MAIL_HOST=
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_TLS=false
MAIL_START_TLS=REQUIRED
MAIL_LOGIN=REQUIRED
MAIL_MOCK=false


# =========================
# OpenAPI
# =========================
SWAGGER_UI=true
OPENAPI_PATH=/q/openapi

OPENAPI_TITLE=TheHunterClassicRebirth API
OPENAPI_VERSION=1.0.0
OPENAPI_DESCRIPTION=Backend API for TheHunterClassicRebirth


# =========================
# Logs
# =========================
QUARKUS_LOG_LEVEL=INFO
